.users-list__item {
  display: flex;
  align-items: center;
}

.users-list__image-container {
  margin-right: 10px;
}

.users-list__image {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 50%;
}

.users-list__text {
  margin-top: 4px;
}
