.repository-list__item {
  padding: 16px;
  border: 1px solid var(--color-grey-light);
  border-radius: 8px;
}

.repository-list__item-title {
  margin-bottom: 10px;
  font-weight: bold;
}

.repository-list__item-text {
  font-size: 13px;
}
